.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
install-sh
minou
missing
parser.c
parser.h
scanner.c
stamp-h1
test-driver
ylwrap
*.tar.gz
*.log
*.o
*.out
*.trs
