.deps/
Makefile
Makefile.in
aclocal.m4
ast.o
autom4te.cache/
compile
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
install-sh
interpret.o
minou
missing
parser.c
parser.h
parser.o
scanner.c
scanner.o
stamp-h1
ylwrap
*.tar.gz
